@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import url(//db.onlinewebfonts.com/c/cd0161509171ec0b9558c548d8e9c26d?family=Bank+Gothic);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

/* astronom */
.logo{
    font-family: "Bank Gothic";
    font-size:28px;
}

/* gambar home */
.form-container{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('../Picture/fh_feature.png');
    background-size:cover;
    height: 50vw;
    background-repeat: no-repeat;
}

/* navigation bar */
.form-container nav{
    position: fixed;
    padding: 20px 40px 20px 100px;
    display: grid;
    grid-template-columns: 1.5fr 0.9fr;
    align-items: center;
    border-bottom:1px solid #1d1d1d;
    background-color:rgb(0, 0, 0, 0.5);
}

/* posisi tulisan navbar */
.form-container nav .navbar{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.form-container nav .navbar a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 30px;
    position: relative;
}

.form-container nav .navbar a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: 0.3s ease;
}

.form-container nav .navbar a:hover:after{
    width: 70%;
}

.form-container nav .navbar a.active:after{
    width: 70%;
}





/*footer*/

footer {
    background: #121212;
    padding: 60px 0;
}

.footer-container {
    margin-left: 100px;
}

footer h3{
    font-family: "Bank Gothic";
    font-size: 30px;
}

/*agar bisa 4 baris*/
footer > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer .copyright span{
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
} 

footer h1 {
    font-size: 18px;
    position:relative;
    margin-bottom: 30px;
} 

footer h1:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    display: block;
    width: 60px;
    height: 2px;
    background: #ffffff;
}

footer p {
    font-size: 14px;
    color: #b9b8b8;
    line-height: 25px;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin: 10px 0;
}

footer ul li a {
    color: #b9b8b8;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s ease;
}

footer ul li a:hover {
    color: #ffffff;
 }

 footer .social a {
    margin-right: 30px;
}